body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.zoom-on-hover .product-img {
  transition: all 0.5s;
}
.zoom-on-hover:hover .product-img {
  transform: scale(1.1);
}

.custom-dropdown {
  height: 45px;
  min-height: 50px;
  width: 150px;
  max-width: 150px;
}
